PreAuthorization/CreditOnline/Service References/CRServiceProxy/CRService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5508/CRService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRModel.Models" />
  <xs:import schemaLocation="http://localhost:5508/CRService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDicModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDicModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetDicModelResult" nillable="true" type="q1:ArrayOfDicModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchParams" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetSearchReportDataResult" nillable="true" type="q3:ArrayOfSearchResultModel" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="models" nillable="true" type="q4:OrderModel" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="contractmodel" nillable="true" type="q5:ContractModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewMultiOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="multimodels" nillable="true" type="q6:ArrayOfOrderModel" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="contractmodel" nillable="true" type="q7:ContractModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewMultiOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewMultiOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetContractDetailsResult" nillable="true" type="q8:ContractModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnterpriseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnterpriseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetEnterpriseInfoResult" nillable="true" type="q9:EnterpriseInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDetais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchParams" nillable="true" type="q10:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDetaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetReportDetaisResult" nillable="true" type="q11:ArrayOfReportDetailsModel" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailErrorDetais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchParams" nillable="true" type="q12:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailErrorDetaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetEmailErrorDetaisResult" nillable="true" type="q13:ArrayOfEmailErrorDetailsModel" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractNation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractNationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetContractNationResult" nillable="true" type="q14:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldpass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newpass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataandFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nationcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expresstype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reporttype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="selectedlang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataandFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataandFeeResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDetailsByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDetailsByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetContractDetailsByEmailResult" nillable="true" type="q16:ContractModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDetailsByOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resultOwnership" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDetailsByOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetContractDetailsByOrgResult" nillable="true" type="q17:ContractModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnreadMsgUids">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="alluids" nillable="true" type="q18:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnreadMsgUidsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUnreadMsgUidsResult" nillable="true" type="q19:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="model" nillable="true" type="q20:EmailOrderModel" />
        <xs:element minOccurs="0" name="isEdit" type="xs:boolean" />
        <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNeedSendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNeedSendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckNeedSendEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUrgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nationcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reporttype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUrgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckUrgentResult" nillable="true" type="q21:ArrayOfKeyValueOfstringboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shorten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetNationDetailsResult" nillable="true" type="q22:NationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynctoCPWP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SynctoCPWPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDisplayNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerReportNO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cusreportno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentuser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerReportNOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCustomerReportNOResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmailDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncCPWPErrorDetais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchParams" nillable="true" type="q23:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncCPWPErrorDetaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="GetSyncCPWPErrorDetaisResult" nillable="true" type="q24:ArrayOfEmailErrorDetailsModel" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPWPError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPWPErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCPWPErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReportOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReportOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="UpdateReportOrderStatusResult" nillable="true" type="q25:ReturnObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteReportOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="infos" nillable="true" type="q26:ArrayOfReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteReportOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CRModel.Models" minOccurs="0" name="CompleteReportOrderResult" nillable="true" type="q27:ReturnObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>